.active_training_status{
    width: 846px;
height: 456px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 7.0496907234191895px 28.198762893676758px 0px rgba(0, 0, 0, 0.05);
}
#chartVersion{
    display: none;
}
.active_training_status_heading_container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
}
.chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: none; /* Remove the border */
    background: white;
  }
.active_training_status_heading{
    color: #333;

/* H5 */
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 17px */
text-transform: capitalize;
  }
  .active_training_status_heading_second_text{
    color: #333;

/* Title 1 */
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 26.6px */
text-transform: capitalize;
  }