@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
*{
    margin: 0;
    padding: 0;
}
.sidebar_navbar_dashboard{
    display:flex;
}
.navbar_dashboard{
    background-color: rgba(180, 206, 255, 1);
}

 .ellipse_two{
    width: 1162.876px;
    height: 1152.596px;

flex-shrink: 0;
border-radius: 1611.596px;
opacity: 1;
background: #FFF;
mix-blend-mode: multiply;
box-shadow: 23.156118392944336px 30.87482452392578px 177.53024291992188px 23.156118392944336px rgba(6, 8, 89, 0.75) inset;
}
.ellipse_one{
    width: 610px;
    height: 1147.191px;
    background: #FFF;
    flex-shrink: 0;
    border-radius: 2080.191px;
opacity: 1;
/* mix-blend-mode: multiply; */
box-shadow: 23.156118392944336px 30.87482452392578px 177.53024291992188px 23.156118392944336px rgba(6, 8, 89, 0.75) inset;
} 